<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baitap07"
        android:usesCleartextTraffic="true">
        
        <!-- MÀN HÌNH CHÍNH (MENU) -->
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BÀI TẬP 1 -->
        <activity android:name=".ProfileActivity" />
        <activity android:name=".UploadActivity" />
        
        <!-- BÀI TẬP 2 -->
        <activity android:name=".SocketActivity" />
        <activity android:name=".BluetoothMainActivity" />
        <activity android:name=".BlueControlActivity" />
            
    </application>

</manifest>